<router-outlet></router-outlet>
<div
  class="grid grid-rows-3 justify-center w-full h-full content-center flex justify-end"
>
  <div class="row-span-1 p-56">
    <h1 class="text-5xl font-bold">Login.</h1>
    <p>Sign into an existing Account</p>
    <div class="h-[1px] w-[50vh] bg-black"></div>
  </div>
  <form class="row-span-1 justify-center flex m-3 my-auto"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm">
    <div class="flex flex-col w-[40%] rounded-2xl items-center">
      <input
        class="mx-2 caret-transparent px-2 py-2 rounded-md border border-slate-100 font-medium text-center shadow-md focus:bg-[#475569] focus:text-slate-50 focus:outline-none"
        type="text"
        placeholder="E-Mail"
        [formControl]="email"
        id="email"
      />
      <input
        class="m-2 caret-transparent px-2 py-2 rounded-md border border-slate-100 font-medium text-center shadow-md focus:bg-[#475569] focus:text-slate-50 focus:outline-none"
        type="password"
        placeholder="Password"
        [formControl]="password"
        id="password"
      />
      <shared-button class="mx-2" text="Sign in"></shared-button>
    </div>
  </form>
  <div class="row-span-1 text-center mt-4">
    <p class="font-sans">
      You don't have an Account? Create one
      <a routerLink="/register" class="text-blue-400">here</a>.
    </p>
  </div>
</div>
