<div class="flex flex-col items-center justify-center h-full w-full">
  <div>
    <shared-input
      class="m-2 w-40 h-20"
      placeholder="Email"
      type="text"
    ></shared-input>
  </div>
  <div class="m-3">
    <shared-input
      class="m-2 w-40"
      placeholder="Passwort"
      type="password"
    ></shared-input>
  </div>
  <div>
    <shared-button text="Login"></shared-button>
  </div>
</div>
<div class="flex items-center justify-center h-full w-full ">
  <shared-product-card src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_1280.jpg" price="49.99" caption="Bugatti"></shared-product-card>
</div>
